html {
    font-family: Pretendard, apple-system, system-ui, "Helvetica", "Arial", sans-serif;
    color: black;
    padding-bottom: 75px;
    font-size: medium;
}

body {
    background-color: black;
    color: CanvasText;
    color-scheme: dark;
}

.content {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: .2em;
    padding-right: .2em;
    max-width: 848px;
}


h2 span {
    font-size: 12px;
    font-weight: normal;
    float: right;
    text-align: right;
}

span#nav-bar {
    font-size: medium;
}

a {
    text-decoration: none;
    color: #3395ff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li .projects {
    padding-left: 1em;
    text-indent: -.7em;
}

li::before .projects {
    content: "•";
    padding-right: .2em;
}

.post-header h1 {
    margin-bottom: 0;
}

.post-header p {
    margin-top: 0.1em;
}

.post-header {
    border-bottom: 1px solid blue;
    /* Adjust thickness and color as needed */
    padding-bottom: 1px;
    /* Optional: Add some padding for spacing */
}