---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          By day I'm a Software Engineer @ Diagnostic World. By night I'm an offensive security researcher that develops open-source tools on GitHub under the alias <Link
            href="https://github.com/ibnaleem/"
            external
            underline>@ibnaleem</Link
          >. I'm also studying Computer Science @ University of Liverpool.
        </p>
        <p>
          I'm currently working on GoSearch, an open-source intelligence tool written in Go.
        </p>
        <p>
        I've mostly learned everything from free and open-source resources on the internet. I believe information should be free and accessible to everyone across the world. That's why I've created this website: to share my knowledge and projects with you. 
        </p>
        <p>
        Apart from technology, I really love cats. You can always email me a picture of your cat.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Projects</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
