---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
---

<Layout title="projects">
	<Container>
		<div>
		<section>
			<article class="space-y-4">
				<span>
          <ul>
						<li>
							<Link href="https://github.com/ibnaleem/gosearch" class="hover:underline">
								GoSearch
							</Link> - an open-source intelligence tool for searching usernames, emails, passwords, and more across 300+ data sources. Written in Go.
						</li>
        </span>
      </article>
    </section>
    </div>
  </Container>
</Layout>