---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import { marked } from 'marked';

import Link from "../../components/Link.astro";

import type { Post } from "../../generated/prisma/client";
import {GET as GET_ALL } from "../api/posts/posts";
import { GET as GET_ONE } from "../api/posts/[slug]";

export async function getStaticPaths () {

  const all_posts_response = await GET_ALL(Astro);
  const posts: Post[] = await all_posts_response.json();

  return posts.map((post) => ({
    params: { slug: post.slug },
  }))
};

const one_post_response = await GET_ONE(Astro);
const post: Post | null = await one_post_response.json();

const content = marked.parse(post?.content ?? '');

const formatDate = (date: string | Date) =>
  new Intl.DateTimeFormat("en-GB").format(new Date(date));
---

<Layout title={post?.title ?? "Post Not Found"}>
  <Container>
    <div>
    <section>
        {post ? (
          <article set:html={content} class="space-y-4">
            <span class="flex items-center my-3 gap-2 text-sm text-gray-400">
              <span>Published {formatDate(post.createdAt)}</span>
                <span>•</span>
                <Link href={`/api/signature/${post.slug}`} class="hover:underline">
                  ✅ Signature
                </Link>
              </span>
          </article>
        ) : (
          <p>Post not found.</p>
        )}
    </section>
    </div>
  </Container>
</Layout>