---
interface Props {
  label: string;
  description: string;
}

const { label, description } = Astro.props;
---

<span class="relative inline-block group cursor-help">
  <span class="underline decoration-dotted underline-offset-4">
    {label}
  </span>

  <span
    class="
      pointer-events-none
      absolute
      left-1/2
      top-full
      z-50
      mt-2
      w-64
      -translate-x-1/2
      rounded-md
      bg-neutral-900
      px-3
      py-2
      text-sm
      text-neutral-100
      opacity-0
      shadow-lg
      transition-opacity
      duration-200
      group-hover:opacity-100
    "
  >
    {description}
  </span>
</span>
