---
import { cn } from '../lib/utils';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-white/30 hover:decoration-white/50 focus-visible:decoration-white/50 text-current hover:text-white focus-visible:text-white transition-colors duration-300 ease-in-out",
    underline && "underline underline-offset-[3px]",
    group && "group"
  )}
  {...rest}
>
  <slot />
</a>
