---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
    <link
    rel="alternate"
    type="application/rss+xml"
    title="Your Site's Title"
    href={new URL("rss.xml", "https://shaffan.dev")}
  />
		<meta charset="utf-8" />
    <link rel="icon" href="/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body>
    <Navbar title={title}/>
    <main>
      <slot />
    </main>
  </body>
</html>